* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  margin-left: 24px;
  margin-right: 24px;
  padding: 0;
}

@media (min-width: 1201px) {
  .container {
    max-width: 1100px;
    margin: auto;
  }
}
@media (min-width: 1401px) {
  .container {
    max-width: 1230px;
    margin: auto;
  }
}
.anchor {
  display: block;
  position: relative;
  visibility: hidden;
  top: -30px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
}
.button:hover {
  cursor: pointer;
}
.button-book {
  border: none;
  background: #D95845;
  color: #fff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}
.button-book:hover {
  background-color: #dd6b5a;
}
.button-book__big {
  width: 180px;
  height: 60px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 22px;
}
.button-outline {
  margin-top: 28px;
  width: 210px;
  height: 40px;
  border: 2.5px solid #2F70D9;
  border-radius: 5px;
  background: none;
  font-size: 18px;
  font-weight: 600;
  color: #2F70D9;
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.section-title {
  margin-bottom: 30px;
  color: #2F70D9;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.03em;
}
.section-title::before {
  content: "";
  margin-bottom: -10px;
  display: block;
  position: relative;
  left: 140px;
  width: 60px;
  height: 7px;
  background: url(../assets/img/header-soft-grey-line.webp) right no-repeat;
  background-size: contain;
}
.section-title-offer::before {
  left: 193px;
}
.section-title-rooms::before {
  left: 153px;
}
.section-title-feedback::before {
  left: 155px;
}

.description {
  width: 100%;
  max-width: 390px;
  font-weight: 400;
  font-size: 13px;
  line-height: 141.18%;
  color: #686868;
}

.section-img img {
  max-width: 100%;
}

.card-title {
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #2F70D9;
}

.card-description {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #686868;
}

@media (min-width: 541px) {
  .row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .section-title {
    font-size: 35px;
    line-height: 44px;
  }
  .section-title::before {
    left: 173px;
  }
  .section-title-offer::before {
    left: 235px;
  }
  .section-title-rooms::before {
    left: 188px;
  }
  .section-title-feedback::before {
    left: 192px;
  }
  .section-img {
    min-width: 300px;
    max-width: 450px;
  }
  .section-img img {
    width: 100%;
  }
}
@media (min-width: 769px) {
  .section-title {
    font-size: 45px;
    line-height: 52px;
  }
  .section-title::before {
    left: 240px;
  }
  .section-title-offer::before {
    left: 320px;
  }
  .section-title-rooms::before {
    left: 258px;
  }
  .section-title-feedback::before {
    left: 264px;
  }
  .description {
    font-size: 16px;
  }
  .section-img {
    max-width: 600px;
  }
  .card-title {
    font-size: 16px;
    line-height: 20px;
  }
  .card-description {
    font-size: 12px;
    line-height: 17px;
  }
}
@media (min-width: 993px) {
  .button-book__big {
    width: 285px;
    height: 65px;
    font-size: 22px;
    line-height: 30px;
  }
  .section-title {
    margin-bottom: 65px;
    font-size: 50px;
    line-height: 64px;
  }
  .section-title::before {
    left: 206px;
    width: 130px;
    height: 11px;
    background: url(../assets/img/line-sharp.webp) right no-repeat;
  }
  .section-title-offer::before {
    left: 295px;
  }
  .section-title-rooms::before {
    left: 223px;
  }
  .section-title-feedback::before {
    left: 229px;
  }
  .section-img {
    max-width: 650px;
  }
  .card-title {
    font-size: 20px;
    line-height: 25px;
  }
  .card-description {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (min-width: 1201px) {
  .section-title {
    margin-bottom: 80px;
  }
  .section-img {
    max-width: 810px;
  }
}
.header-wrap {
  margin-top: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  position: sticky;
  top: 0;
  z-index: 51;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 2px solid rgba(104, 104, 104, 0.1);
}
.header-logo {
  margin-bottom: -6px;
}
.header-logo img {
  max-width: 108px;
}
.header-hamburger-squares {
  display: none;
  justify-content: space-between;
  align-content: space-between;
  flex-flow: row wrap;
  gap: 1px;
  width: 22px;
  height: 22px;
  margin-bottom: -1px;
}
.header-hamburger-arrows {
  display: none;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
}
.header-hamburger-arrows .whiteline {
  width: 4px;
  height: 26px;
  background-color: #fff;
  z-index: 2;
}
.header-hamburger-arrows .whiteline-horizontal {
  rotate: 90deg;
}
.header-hamburger-arrows .whiteline-vertical {
  margin-left: -3px;
}
.header-hamburger-arrows .redline {
  position: absolute;
  width: 3px;
  height: 28px;
  background-color: #D95845;
}
.header-hamburger-arrows .redline-left {
  rotate: 45deg;
}
.header-hamburger-arrows .redline-right {
  rotate: -45deg;
}
.header-hamburger-arrows .redsquare {
  position: absolute;
  margin-left: 1px;
  width: 16px;
  height: 16px;
  background-color: #D95845;
  rotate: 45deg;
}

.square {
  width: 10px;
  height: 10px;
  background-color: #2F70D9;
  border-radius: 1px;
}

.ham-show {
  display: flex !important;
}

.main-wrap {
  justify-content: flex-start;
  padding-top: 40px;
}
.main-header {
  width: 227px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-start;
}
.main-header-hotel {
  margin-bottom: -28px;
  color: #686868;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 13px;
  text-align: right;
}
.main-header-hotel::before {
  content: "";
  margin-bottom: 2px;
  display: block;
  position: relative;
  left: 45px;
  width: 39px;
  height: 5px;
  background: url(../assets/img/line-soft-bold.webp) right no-repeat;
  background-size: contain;
}
.main-header-baikal {
  color: #2F70D9;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 77px;
  letter-spacing: 0.03em;
}
.main-description {
  margin-bottom: 20px;
}
.main-img {
  margin-top: 30px;
}

@media (min-width: 541px) {
  .main-block {
    max-width: 380px;
  }
}
@media (min-width: 769px) {
  .main {
    justify-content: space-between;
  }
  .main-block {
    max-width: 496px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
  }
  .main-header {
    width: 100%;
  }
  .main-header-hotel {
    margin-bottom: -30px;
    font-size: 17px;
  }
  .main-header-hotel::before {
    margin-bottom: 0;
    left: 75px;
  }
  .main-header-baikal {
    font-size: 80px;
    line-height: 105px;
  }
  .main-img {
    max-width: 480px;
  }
}
@media (min-width: 993px) {
  .main-header-hotel {
    margin-bottom: -50px;
    font-size: 24px;
  }
  .main-header-hotel::before {
    left: 115px;
  }
  .main-header-baikal {
    margin-bottom: 6px;
    font-size: 131px;
    line-height: 168px;
  }
  .main-description {
    margin-bottom: 40px;
  }
  .main-img {
    max-width: 580px;
  }
}
@media (min-width: 1201px) {
  .main-img {
    max-width: 602px;
  }
  .main-img img {
    width: 100%;
  }
}
.about {
  padding-top: 60px;
}
.about-description {
  margin-bottom: 30px;
}
.about-description::after {
  content: "";
  margin-top: 30px;
  display: block;
  position: relative;
  left: -10px;
  width: 63px;
  height: 6px;
  background: url(../assets/img/line-soft-blue-small.webp) right no-repeat;
  background-size: contain;
}
.about-description p {
  margin-bottom: 20px;
}

@media (min-width: 541px) {
  .about-description::after {
    margin-top: 20px;
  }
}
@media (min-width: 769px) {
  .about-description::after {
    margin-top: 55px;
  }
}
@media (min-width: 993px) {
  .about-description::after {
    margin-top: 100px;
    left: 0;
    width: 98px;
    height: 10px;
    background: url(../assets/img/line-soft.webp) right no-repeat;
  }
}
@media (min-width: 1201px) {
  .about-description::after {
    margin-top: 170px;
  }
}
.offer {
  padding-top: 60px;
}
.offer-item {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 126px;
}
.offer-item-icon {
  margin-bottom: 10px;
  width: 36px;
  height: 36px;
}
.offer-item-icon img {
  height: 100%;
}
.offer-item-name {
  margin-bottom: 5px;
}
.offer-item-wrap {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  flex-flow: row wrap;
}

@media (min-width: 541px) {
  .offer-item {
    min-width: 150px;
    max-width: 30%;
    flex-basis: 33%;
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media (min-width: 769px) {
  .offer-item {
    margin-bottom: 35px;
    min-width: 155px;
  }
  .offer-item-icon {
    margin-bottom: 15px;
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 993px) {
  .offer-item {
    margin-bottom: 50px;
    min-width: 237px;
  }
  .offer-item-icon {
    margin-bottom: 20px;
    width: 65px;
    height: 65px;
  }
  .offer-item-name {
    margin-bottom: 10px;
  }
}
.rooms {
  padding-top: 60px;
}
.rooms-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.rooms-img {
  display: none;
}
.rooms-card {
  margin-bottom: 10px;
  padding: 30px 20px 30px 20px;
  max-width: 272px;
  border: 3px solid #2F70D9;
  border-radius: 20px;
}
.rooms-card-icon {
  margin-bottom: 20px;
  text-align: center;
}
.rooms-card-icon img {
  height: 80px;
}
.rooms-card-name {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 26px;
}
.rooms-card-list {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 23px;
  text-align: left;
  list-style: disc inside;
}
.rooms-card-list li {
  padding-bottom: 10px;
}
.rooms-card-price {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
}
.rooms-card-pricetag {
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #D95845;
}
.rooms-card-pricetag span {
  font-size: 25px;
  line-height: 32px;
}

@media (min-width: 541px) {
  .rooms-wrap {
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .rooms-card {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    max-width: 225px;
  }
}
@media (min-width: 769px) {
  .rooms-card {
    margin-left: 15px;
    margin-right: 15px;
    padding: 40px 27px 40px 27px;
    max-width: 285px;
  }
  .rooms-card-icon {
    margin-bottom: 30px;
  }
  .rooms-card-icon img {
    height: 110px;
  }
  .rooms-card-name {
    margin-bottom: 30px;
  }
  .rooms-card-list {
    margin-bottom: 30px;
  }
  .rooms-card-list li {
    padding-bottom: 13px;
  }
}
@media (min-width: 993px) {
  .rooms-img {
    display: block;
    flex-basis: 46%;
    padding-left: 70px;
  }
}
@media (min-width: 1401px) {
  .rooms-img {
    flex-basis: 15%;
    padding-left: 0;
  }
}
.feedback {
  padding-top: 60px;
}
.feedback-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column wrap;
}
.feedback-card {
  margin-bottom: 15px;
  padding-top: 20px;
  padding-bottom: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column wrap;
  width: 272px;
  background-color: #fff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.feedback-card-photo {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #BEBEBE;
  border-radius: 50%;
}
.feedback-card-photo img {
  height: 30px;
}
.feedback-card-name {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 20px;
}
.feedback-card-description {
  margin-bottom: 15px;
  width: 174px;
  font-size: 12px;
  line-height: 17px;
  text-align: left;
}
.feedback-card-date {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: 541px) {
  .feedback-wrap {
    justify-content: space-around;
    flex-flow: row wrap;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
@media (min-width: 769px) {
  .feedback-card {
    margin-bottom: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 285px;
  }
  .feedback-card-photo {
    margin-bottom: 30px;
    width: 100px;
    height: 100px;
  }
  .feedback-card-photo img {
    height: 50px;
  }
  .feedback-card-name {
    margin-bottom: 29px;
  }
  .feedback-card-description {
    margin-bottom: 28px;
    width: 237px;
    font-size: 16px;
    line-height: 23px;
  }
}
.menu {
  display: none;
  padding-top: 25px;
  position: absolute;
  z-index: 5;
  flex-flow: column wrap;
  width: 100%;
  background-color: #fff;
}
.menu-navigation .menu-link {
  padding-bottom: 20px;
}
.menu-navigation .menu-link a {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  line-height: 25px;
  color: #686868;
}
.menu-navigation .menu-link a:hover, .menu-navigation .menu-link a:active {
  font-weight: 800;
  color: #2F70D9;
  cursor: pointer;
}
.menu-navigation .menu-link a:hover::after, .menu-navigation .menu-link a:active::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 10px);
  width: 98px;
  height: 10px;
  background: url(../assets/img/line-soft.webp) left no-repeat;
  background-size: contain;
}
.menu-address {
  margin-top: 45px;
  font-weight: 700;
  line-height: 22px;
  color: #686868;
}
.menu-address span {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
}
.menu-phone {
  margin-top: 15px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #000;
}
.menu-social {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
  cursor: pointer;
}
.menu-social .social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.menu-social .social-icon img {
  width: 20px;
}
.menu-social .social-icon__viber {
  background-color: #A7D91A;
}
.menu-social .social-icon__whatsapp {
  background-color: #C652EE;
}/*# sourceMappingURL=style.css.map */