* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.anchor {
  position: relative;
  display: block;
  top: -80px;
  visibility: hidden;
}

.back-to-top {
  padding: 7px;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 50;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #2F70D9;
  border-radius: 50%;
  background-color: #fff;
  color: #2F70D9;
  font-size: 1.5rem;
  text-decoration: none;
  transition: 0.2s ease-out;
}
.back-to-top:hover {
  background-color: #f2f2f2;
  cursor: pointer;
  transition: 0.2s ease-out;
}
.back-to-top:hover span {
  transform: translateY(-3px);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
}
.button:hover {
  cursor: pointer;
}
.button-book {
  border: none;
  background: #D95845;
  color: #fff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}
.button-book:hover {
  background-color: #dd6b5a;
}
.button-book__big {
  width: 180px;
  height: 60px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 22px;
}
.button-outline {
  margin-top: 28px;
  width: 210px;
  height: 40px;
  border: 2.5px solid #2F70D9;
  border-radius: 5px;
  background: none;
  font-size: 18px;
  font-weight: 600;
  color: #2F70D9;
  cursor: pointer;
}
.button-outline__narrow {
  margin-top: 15px;
}
.button-outline img {
  display: none;
}
.button-solid {
  width: 180px;
  height: 60px;
  border: 2.5px solid #D95845;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #D95845;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
}
.button-solid__narrow {
  width: 210px;
  height: 40px;
  border-radius: 5px;
  font-size: 18px;
  line-height: 26px;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.social {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
  cursor: pointer;
}
.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.social-icon img {
  width: 20px;
}
.social-icon__viber {
  background-color: #C652EE;
}
.social-icon__whatsapp {
  background-color: #A7D91A;
}

.phone {
  margin-top: 15px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #000;
}

.address {
  margin-top: 45px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #686868;
}
.address span {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
}

.section-title {
  margin-bottom: 30px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.03em;
  color: #2F70D9;
}
.section-title::before {
  content: "";
  margin-bottom: -10px;
  position: relative;
  left: 140px;
  display: block;
  width: 60px;
  height: 7px;
  background: url(../assets/img/header-soft-grey-line.webp) right no-repeat;
  background-size: contain;
}
.section-title-offer::before {
  left: 193px;
}
.section-title-rooms::before {
  left: 153px;
}
.section-title-feedback::before {
  left: 155px;
}
.section-title-popup::before {
  margin-bottom: -5px;
  left: 135px;
}
.section-title-contacts {
  margin-bottom: 15px;
}
.section-title-contacts::before {
  left: 95px;
}

.description {
  width: 100%;
  max-width: 390px;
  font-weight: 400;
  font-size: 13px;
  line-height: 141.18%;
  color: #686868;
}

.section-img img {
  max-width: 100%;
}

.card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column wrap;
  width: 272px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #2F70D9;
}

.card-description {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #686868;
}

.link a {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  line-height: 25px;
}
.link a:hover, .link a:active {
  cursor: pointer;
}

@media (min-width: 541px) {
  .row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .section-title {
    font-size: 35px;
    line-height: 44px;
  }
  .section-title::before {
    left: 173px;
  }
  .section-title-offer::before {
    left: 235px;
  }
  .section-title-rooms::before {
    left: 188px;
  }
  .section-title-feedback::before {
    left: 192px;
  }
  .section-title-popup::before {
    left: 185px;
  }
  .section-title-contacts::before {
    left: 120px;
  }
  .section-img {
    min-width: 300px;
    max-width: 450px;
  }
  .section-img img {
    width: 100%;
  }
}
@media (min-width: 769px) {
  .anchor {
    top: -100px;
  }
  .button-outline {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
  }
  .button-outline span {
    display: none;
  }
  .button-outline img {
    display: inline-block;
    width: 25px;
  }
  .button-outline__narrow {
    margin-top: 15px;
    width: 210px;
    height: 40px;
    font-size: 18px;
  }
  .button-outline__narrow span {
    display: inline-block;
  }
  .button-outline__narrow img {
    display: none;
  }
  .button-solid {
    width: 285px;
    height: 65px;
    font-size: 19px;
    line-height: 26px;
  }
  .button-solid__narrow {
    width: 210px;
    height: 40px;
    font-size: 18px;
    line-height: 26px;
  }
  .social-icon {
    margin-right: 20px;
    width: 50px;
    height: 50px;
  }
  .social-icon img {
    width: 25px;
    height: 25px;
  }
  .phone-number {
    font-size: 22px;
    line-height: 30px;
  }
  .address {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 25px;
  }
  .address span {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
  }
  .section-title {
    font-size: 45px;
    line-height: 52px;
  }
  .section-title::before {
    left: 240px;
  }
  .section-title-offer::before {
    left: 320px;
  }
  .section-title-rooms::before {
    left: 258px;
  }
  .section-title-feedback::before {
    left: 264px;
  }
  .section-title-popup::before {
    margin-bottom: -5px;
    left: 330px;
  }
  .section-title-contacts::before {
    left: 170px;
  }
  .description {
    font-size: 16px;
  }
  .section-img {
    max-width: 600px;
  }
  .card-title {
    font-size: 16px;
    line-height: 20px;
  }
  .card-description {
    font-size: 12px;
    line-height: 17px;
  }
}
@media (min-width: 993px) {
  .button-outline {
    width: 210px;
  }
  .button-outline span {
    display: inline-block;
  }
  .button-outline img {
    display: none;
  }
  .button-solid {
    font-size: 22px;
    line-height: 30px;
  }
  .button-solid__narrow {
    font-size: 18px;
    line-height: 26px;
  }
  .button-book__big {
    width: 285px;
    height: 65px;
    font-size: 22px;
    line-height: 30px;
  }
  .social {
    margin-top: 0;
    margin-bottom: 0;
  }
  .social-icon {
    margin-right: 30px;
    width: 60px;
    height: 60px;
  }
  .social-icon img {
    width: 30px;
    height: 30px;
  }
  .phone {
    margin-bottom: 25px;
  }
  .phone-number {
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 41px;
  }
  .address span {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 23px;
  }
  .section-title {
    margin-bottom: 65px;
    font-size: 50px;
    line-height: 64px;
  }
  .section-title::before {
    left: 206px;
    width: 130px;
    height: 11px;
    background: url(../assets/img/line-sharp.webp) right no-repeat;
  }
  .section-title-offer::before {
    left: 295px;
  }
  .section-title-rooms::before {
    left: 223px;
  }
  .section-title-feedback::before {
    left: 229px;
  }
  .section-title-popup::before {
    left: 355px;
  }
  .section-title-contacts {
    margin-bottom: 25px;
  }
  .section-title-contacts::before {
    left: 130px;
  }
  .section-img {
    max-width: 650px;
  }
  .card-title {
    font-size: 20px;
    line-height: 25px;
  }
  .card-description {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (min-width: 1201px) {
  .section-title {
    margin-bottom: 80px;
  }
  .section-title-contacts {
    margin-bottom: 25px;
  }
  .section-img {
    max-width: 810px;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  background-color: #fff;
}
.header-wrap__small {
  margin-top: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 50px;
  width: 100%;
}
.header-wrap__big {
  border-bottom: 2px solid rgba(104, 104, 104, 0.1);
}
.header-logo {
  margin-bottom: -6px;
}
.header-logo img {
  max-width: 108px;
}
.header-hamburger-squares {
  margin-bottom: -1px;
  display: none;
  justify-content: space-between;
  align-content: space-between;
  flex-flow: row wrap;
  gap: 1px;
  width: 22px;
  height: 22px;
}
.header-hamburger-arrows {
  display: none;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
}
.header-hamburger-arrows .whiteline {
  width: 4px;
  height: 26px;
  z-index: 2;
  background-color: #fff;
}
.header-hamburger-arrows .whiteline-horizontal {
  rotate: 90deg;
}
.header-hamburger-arrows .whiteline-vertical {
  margin-left: -3px;
}
.header-hamburger-arrows .redline {
  position: absolute;
  width: 3px;
  height: 28px;
  background-color: #D95845;
}
.header-hamburger-arrows .redline-left {
  rotate: 45deg;
}
.header-hamburger-arrows .redline-right {
  rotate: -45deg;
}
.header-hamburger-arrows .redsquare {
  margin-left: 1px;
  position: absolute;
  width: 16px;
  height: 16px;
  rotate: 45deg;
  background-color: #D95845;
}

.square {
  width: 10px;
  height: 10px;
  background-color: #2F70D9;
  border-radius: 1px;
}

.ham-show {
  display: flex !important;
}

@media (min-width: 769px) {
  .header-wrap__small {
    max-width: 109px;
  }
  .header-wrap__big {
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    flex-flow: row nowrap;
  }
  .header-hamburger-menu {
    display: none;
  }
}
.menu {
  padding-top: 25px;
  position: absolute;
  display: none;
  flex-flow: column wrap;
  width: 100%;
  z-index: 5;
  border-bottom: 2px solid rgba(104, 104, 104, 0.1);
  background-color: #fff;
}
.menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  z-index: inherit;
  width: 50px;
  height: 100%;
  border-bottom: 2px solid rgba(104, 104, 104, 0.1);
  background-color: #fff;
}
.menu-navigation .menu-link {
  padding-bottom: 20px;
}
.menu-navigation .menu-link a {
  color: #686868;
}
.menu-navigation .menu-link a::before {
  content: attr(title);
  display: block;
  font-weight: 800;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.menu-navigation .menu-link a:hover, .menu-navigation .menu-link a:active {
  font-weight: 800;
  color: #2F70D9;
}
.menu-navigation .menu-link a:hover::after, .menu-navigation .menu-link a:active::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 10px);
  z-index: 15;
  width: 98px;
  height: 10px;
  background: url(../assets/img/line-soft.webp) left no-repeat;
  background-size: contain;
}

@media (min-width: 769px) {
  .menu {
    padding: 0;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row nowrap;
    gap: 15px;
    border: none;
  }
  .menu::before {
    display: none;
  }
  .menu-navigation {
    max-width: 550px;
  }
  .menu-navigation .menu-link a {
    font-size: 16px;
  }
  .menu-navigation ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    gap: 13px;
  }
  .menu-navigation ul .menu-link {
    padding-bottom: 0;
  }
  .menu-navigation ul .menu-link a:hover::after, .menu-navigation ul .menu-link a:active::after {
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% + 7px);
  }
  .menu-info {
    display: none;
  }
}
@media (min-width: 993px) {
  .menu {
    gap: 20px;
  }
  .menu-navigation ul {
    gap: 20px;
  }
}
@media (min-width: 1201px) {
  .menu {
    gap: 50px;
  }
  .menu-navigation {
    max-width: 800px;
  }
  .menu-navigation .menu-link a {
    font-size: 18px;
  }
  .menu-navigation ul {
    gap: 30px;
  }
}
.main {
  margin-top: 50px;
}
.main-wrap {
  justify-content: flex-start;
  padding-top: 40px;
}
.main-header {
  width: 227px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-start;
}
.main-header-hotel {
  margin-bottom: -28px;
  color: #686868;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 13px;
  text-align: right;
}
.main-header-hotel::before {
  content: "";
  margin-bottom: 2px;
  position: relative;
  left: 45px;
  display: block;
  width: 39px;
  height: 5px;
  background: url(../assets/img/line-soft-bold.webp) right no-repeat;
  background-size: contain;
}
.main-header-baikal {
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 77px;
  letter-spacing: 0.03em;
  color: #2F70D9;
}
.main-description {
  margin-bottom: 20px;
}
.main-img {
  margin-top: 30px;
}

@media (min-width: 541px) {
  .main-block {
    max-width: 380px;
  }
}
@media (min-width: 769px) {
  .main {
    margin-top: 76px;
    justify-content: space-between;
  }
  .main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    max-width: 496px;
  }
  .main-header {
    width: 100%;
  }
  .main-header-hotel {
    margin-bottom: -30px;
    font-size: 17px;
  }
  .main-header-hotel::before {
    margin-bottom: 0;
    left: 75px;
  }
  .main-header-baikal {
    font-size: 80px;
    line-height: 105px;
  }
  .main-img {
    max-width: 480px;
  }
}
@media (min-width: 993px) {
  .main-header-hotel {
    margin-bottom: -50px;
    font-size: 24px;
  }
  .main-header-hotel::before {
    left: 115px;
  }
  .main-header-baikal {
    margin-bottom: 6px;
    font-size: 131px;
    line-height: 168px;
  }
  .main-description {
    margin-bottom: 40px;
  }
  .main-img {
    max-width: 580px;
  }
}
@media (min-width: 1201px) {
  .main-img {
    max-width: 602px;
  }
  .main-img img {
    width: 100%;
  }
}
.about {
  padding-top: 60px;
}
.about-description {
  margin-bottom: 30px;
}
.about-description::after {
  content: "";
  margin-top: 30px;
  display: block;
  position: relative;
  left: -10px;
  width: 63px;
  height: 6px;
  background: url(../assets/img/line-soft-blue-small.webp) right no-repeat;
  background-size: contain;
}
.about-description p {
  margin-bottom: 20px;
}

@media (min-width: 541px) {
  .about-description::after {
    margin-top: 20px;
  }
}
@media (min-width: 769px) {
  .about-description::after {
    margin-top: 55px;
  }
}
@media (min-width: 993px) {
  .about-description::after {
    margin-top: 100px;
    left: 0;
    width: 98px;
    height: 10px;
    background: url(../assets/img/line-soft.webp) right no-repeat;
  }
}
@media (min-width: 1201px) {
  .about-description::after {
    margin-top: 170px;
  }
}
.offer {
  padding-top: 60px;
}
.offer-item {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 126px;
}
.offer-item-icon {
  margin-bottom: 10px;
  width: 36px;
  height: 36px;
}
.offer-item-icon img {
  height: 100%;
}
.offer-item-name {
  margin-bottom: 5px;
}
.offer-item-wrap {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  flex-flow: row wrap;
}

@media (min-width: 541px) {
  .offer-item {
    margin-left: 5px;
    margin-right: 5px;
    flex-basis: 33%;
    min-width: 150px;
    max-width: 30%;
  }
}
@media (min-width: 769px) {
  .offer-item {
    margin-bottom: 35px;
    min-width: 155px;
  }
  .offer-item-icon {
    margin-bottom: 15px;
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 993px) {
  .offer-item {
    margin-bottom: 50px;
    min-width: 237px;
  }
  .offer-item-icon {
    margin-bottom: 20px;
    width: 65px;
    height: 65px;
  }
  .offer-item-name {
    margin-bottom: 10px;
  }
}
.rooms {
  padding-top: 60px;
}
.rooms-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.rooms-img {
  display: none;
}
.rooms-card {
  margin-bottom: 10px;
  padding: 30px 20px 30px 20px;
  max-width: 272px;
  border: 3px solid #2F70D9;
  border-radius: 20px;
}
.rooms-card-icon {
  margin-bottom: 20px;
  text-align: center;
}
.rooms-card-icon img {
  height: 80px;
}
.rooms-card-name {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 26px;
}
.rooms-card-list {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 23px;
  text-align: left;
  list-style: disc inside;
}
.rooms-card-list li {
  padding-bottom: 10px;
}
.rooms-card-price {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
}
.rooms-card-pricetag {
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #D95845;
}
.rooms-card-pricetag span {
  font-size: 25px;
  line-height: 32px;
}

@media (min-width: 541px) {
  .rooms-wrap {
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .rooms-card {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    max-width: 225px;
  }
}
@media (min-width: 769px) {
  .rooms-card {
    margin-left: 15px;
    margin-right: 15px;
    padding: 40px 27px 40px 27px;
    max-width: 285px;
  }
  .rooms-card-icon {
    margin-bottom: 30px;
  }
  .rooms-card-icon img {
    height: 110px;
  }
  .rooms-card-name {
    margin-bottom: 30px;
  }
  .rooms-card-list {
    margin-bottom: 30px;
  }
  .rooms-card-list li {
    padding-bottom: 13px;
  }
}
@media (min-width: 993px) {
  .rooms-img {
    display: block;
    flex-basis: 46%;
    padding-left: 70px;
  }
}
@media (min-width: 1401px) {
  .rooms-img {
    flex-basis: 15%;
    padding-left: 0;
  }
}
.feedback {
  padding-top: 60px;
}
.feedback-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column wrap;
}
.feedback-card {
  margin-bottom: 15px;
  padding-top: 20px;
  padding-bottom: 15px;
}
.feedback-card-photo {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #BEBEBE;
  border-radius: 50%;
}
.feedback-card-photo img {
  height: 30px;
}
.feedback-card-name {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 20px;
}
.feedback-card-description {
  margin-bottom: 15px;
  width: 174px;
  font-size: 12px;
  line-height: 17px;
  text-align: left;
}
.feedback-card-date {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: 541px) {
  .feedback-wrap {
    justify-content: space-around;
    flex-flow: row wrap;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
@media (min-width: 769px) {
  .feedback-card {
    margin-bottom: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 285px;
  }
  .feedback-card-photo {
    margin-bottom: 30px;
    width: 100px;
    height: 100px;
  }
  .feedback-card-photo img {
    height: 50px;
  }
  .feedback-card-name {
    margin-bottom: 29px;
  }
  .feedback-card-description {
    margin-bottom: 28px;
    width: 237px;
    font-size: 16px;
    line-height: 23px;
  }
}
.blocker {
  content: "";
  position: fixed;
  top: -250vw;
  left: -150vw;
  width: 300vw;
  height: 500vw;
  z-index: -10;
  background: rgba(47, 112, 217, 0.1);
}

.popup-show {
  display: block !important;
}

.popup {
  display: none;
  position: fixed;
  top: 75px;
  left: 50%;
  z-index: 500;
  transform: translateX(-50%);
}
.popup-wrap {
  padding: 35px 11px 35px 11px;
  width: 100%;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
.popup-hide {
  position: relative;
  right: -110px;
  top: -28px;
  font-size: 40px;
  font-weight: 400;
  color: #2F70D9;
  cursor: pointer;
}
.popup-title {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 26px;
}
.popup-title-success::before, .popup-title-error::before {
  display: none;
}
.popup-description {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 17px;
}
.popup-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column wrap;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
.popup-form-input {
  margin-bottom: 5px;
  padding-top: 5px;
  padding-left: 19px;
  width: 250px;
  height: 50px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-size: 10px;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: 0.05em;
  color: #000;
  opacity: 0.5;
}
.popup-form-input:focus, .popup-form-input:active {
  opacity: 1;
  border: none;
}
.popup-form-comment {
  margin-bottom: 10px;
  height: 70px;
  resize: none;
}
.popup-success-hide, .popup-error-hide {
  top: -20px;
}
.popup-success-wrap, .popup-error-wrap {
  padding: 30px;
  width: 272px;
}
.popup-success-img, .popup-error-img {
  margin-bottom: 10px;
}
.popup-success-img img, .popup-error-img img {
  width: 130px;
}
.popup-success-text, .popup-error-text {
  font-size: 20px;
  line-height: 26px;
}

@media (min-width: 541px) {
  .popup {
    top: 85px;
  }
  .popup-wrap {
    width: 350px;
  }
  .popup-hide {
    right: -150px;
  }
  .popup-title {
    font-size: 25px;
    line-height: 30px;
  }
  .popup-form-input {
    width: 300px;
    font-size: 12px;
  }
}
@media (min-width: 769px) {
  .popup {
    top: 125px;
  }
  .popup-wrap {
    padding: 40px 55px 40px 55px;
    width: 608px;
  }
  .popup-hide {
    right: -275px;
    top: -35px;
    font-size: 50px;
  }
  .popup-title {
    margin-bottom: 15px;
    font-size: 40px;
    line-height: 48px;
  }
  .popup-description {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 20px;
  }
  .popup-form-input {
    margin-bottom: 10px;
    width: 488px;
    height: 60px;
  }
  .popup-form-comment {
    margin-bottom: 20px;
    height: 98px;
  }
}
@media (min-width: 993px) {
  .popup-title {
    font-size: 50px;
    line-height: 64px;
  }
  .popup-description {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 23px;
  }
  .popup-form-input {
    font-size: 16px;
  }
}
.contacts {
  padding-top: 60px;
}
.contacts-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  gap: 30px;
}
.contacts-block {
  padding: 20px 50px;
  align-items: flex-start;
}
.contacts-address {
  margin-top: 0px;
}

.map {
  border-radius: 20px;
  overflow: hidden;
}
.map__small {
  width: 272px;
}
.map__big {
  display: none;
}

@media (min-width: 541px) {
  .contacts-wrap {
    flex-flow: row wrap;
  }
}
@media (min-width: 769px) {
  .contacts-wrap {
    flex-flow: row no-wrap;
  }
  .map__small {
    display: none;
  }
  .map__big {
    position: relative;
    display: block;
    width: 100%;
  }
  .contacts-block {
    padding: 32px 35px;
    position: absolute;
    left: 75px;
    z-index: 50;
    width: 300px;
    height: 350px;
  }
}
@media (min-width: 993px) {
  .contacts-block {
    width: 355px;
    height: 435px;
  }
}
@media (min-width: 1201px) {
  .contacts-wrap {
    position: relative;
  }
}
.footer {
  padding-top: 40px;
  padding-bottom: 25px;
  background-color: #282828;
}
.footer *:not(.footer-block-name, button) {
  color: #fff;
}
.footer-row {
  align-items: center;
}
.footer-logo {
  margin-bottom: 20px;
}
.footer-logo img {
  width: 108px;
}
.footer-navigation li {
  margin-bottom: 15px;
}
.footer-block__hidden {
  display: none;
}
.footer-block-name {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 26px;
}
.footer-block-buttons {
  margin-bottom: 20px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.footer-block-contacts {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.footer-address {
  margin-top: 0px;
  font-size: 18px;
  line-height: 25px;
}
.footer-address span {
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 23px;
}
.footer-phone {
  margin-top: 5px;
  margin-bottom: 5px;
}
.footer-social {
  margin-top: 0;
  margin-bottom: 20px;
}
.footer-social-icon {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
.footer-social-icon img {
  width: 15px;
  height: 15px;
}
.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lora";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: 541px) {
  .footer-row {
    align-items: flex-start;
  }
}
@media (min-width: 769px) {
  .footer-social-icon {
    width: 30px;
    height: 30px;
    border-radius: 5px;
  }
  .footer-social-icon img {
    width: 15px;
  }
  .footer-block-name {
    text-align: left;
  }
  .footer-block-contacts {
    align-items: flex-start;
    text-align: left;
  }
}
@media (min-width: 993px) {
  .footer-block__hidden {
    display: block;
  }
  .footer-address {
    margin-top: 0px;
    font-size: 18px;
    line-height: 25px;
  }
  .footer-address span {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 23px;
  }
  .footer-phone {
    margin-top: 5px;
  }
  .footer-phone .phone-number {
    font-size: 20px;
    line-height: 27px;
  }
}
body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  margin-left: 24px;
  margin-right: 24px;
  padding: 0;
}

@media (min-width: 1201px) {
  .container {
    max-width: 1100px;
    margin: auto;
  }
}
@media (min-width: 1401px) {
  .container {
    max-width: 1230px;
    margin: auto;
  }
}/*# sourceMappingURL=style.css.map */