.about
   padding-top: 60px
   &-description
      margin-bottom: 30px
      &::after
         content: ''
         margin-top: 30px
         display: block
         position: relative
         left: -10px
         width: 63px
         height: 6px
         background: url(../assets/img/line-soft-blue-small.webp) right no-repeat
         background-size: contain
      p
         margin-bottom: 20px

@media ( min-width: 541px )
   .about-description::after
      margin-top: 20px

@media ( min-width: 769px )
   .about-description::after
      margin-top: 55px

@media ( min-width: 993px )
   .about-description::after
      margin-top: 100px
      left: 0
      width: 98px
      height: 10px
      background: url(../assets/img/line-soft.webp) right no-repeat

@media ( min-width: 1201px )
   .about-description::after
      margin-top: 170px
