.feedback
   padding-top: 60px
   &-wrap
      display: flex
      justify-content: flex-start
      align-items: center
      flex-flow: column wrap
   &-card
      margin-bottom: 15px
      padding-top: 20px
      padding-bottom: 15px
      display: flex
      justify-content: flex-start
      align-items: center
      flex-flow: column wrap
      width: 272px
      background-color: $bg-color-white
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1)
      border-radius: 20px
      &-photo
         margin-bottom: 15px
         display: flex
         justify-content: center
         align-items: center
         width: 60px
         height: 60px
         background-color: $bg-color-grey
         border-radius: 50%
         img
            height: 30px
      &-name
         margin-bottom: 15px
         font-size: 16px
         line-height: 20px
      &-description
         margin-bottom: 15px
         width: 174px
         font-size: 12px
         line-height: 17px
         text-align: left
      &-date
         font-weight: 300
         font-size: 14px
         line-height: 20px
