.header
   padding-top: 15px  
   padding-bottom: 15px
   height: 50px
   width: 100%
   display: flex
   justify-content: space-between
   align-items: flex-end
   &-logo
      margin-bottom: -6px
      img
         max-width: 108px
   &-hamburger
      &-squares
         justify-content: space-between
         align-content: space-between
         flex-flow: row wrap
         gap: 1px
         width: 22px
         height: 22px
         margin-bottom: -1px
      &-arrows
         justify-content: center
         align-items: center
         width: 22px
         height: 22px
         .whiteline
            width: 4px
            height: 26px
            background-color: #fff
            z-index: 2
            &-horizontal
               rotate: 90deg
            &-vertical
               margin-left: -3px
         .redline
            position: absolute
            width: 3px
            height: 28px
            background-color: $main-red
            &-left
               rotate: 45deg
            &-right
               rotate: -45deg
         .redsquare
            position: absolute
            margin-left: 1px
            width: 16px
            height: 16px
            background-color: $main-red
            rotate: 45deg

.square
   width: 10px
   height: 10px
   background-color: $main-color
   border-radius: 1px

.ham-show
   display: flex
.ham-hide
   display: none