.anchor
   display: block
   position: relative
   visibility: hidden
   top: -80px
.button
   display: flex
   justify-content: center
   align-items: center
   font-family: 'Open Sans', sans-serif
   font-style: normal
   font-weight: 700
   text-align: center
   letter-spacing: 0.03em
   &:hover
      cursor: pointer
   &-book
      border: none
      background: $main-red
      color: $text-color-white
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1)
      &:hover
         background-color: lighten($main-red, 5%)
      &__big
         width: 180px
         height: 60px
         border-radius: 10px
         font-size: 16px
         line-height: 22px
   &-outline
      margin-top: 28px
      width: 210px
      height: 40px
      border: 2.5px solid $main-color
      border-radius: 5px
      background: none
      font-size: 18px
      font-weight: 600
      color: $main-color
      cursor: pointer
      img
         display: none

.row
   display: flex
   flex-direction: column
   justify-content: space-between
   align-items: flex-start
   align-content: flex-start

.section-title
   margin-bottom: 30px
   color: $main-color
   font-family: 'Lora'
   font-style: normal
   font-weight: 700
   font-size: 30px
   line-height: 38px
   letter-spacing: 0.03em
   &::before
      content: ''
      margin-bottom: -10px
      display: block
      position: relative
      left: 140px
      width: 60px
      height: 7px
      background: url(../assets/img/header-soft-grey-line.webp) right no-repeat
      background-size: contain
   &-offer
      &::before
         left: 193px
   &-rooms
      &::before
         left: 153px
   &-feedback
      &::before
         left: 155px

.description
   width: 100%
   max-width: 390px
   font-weight: 400
   font-size: 13px
   line-height: 141.18%
   color: #686868

.section-img
   img
      max-width: 100%

.card-title
   font-family: 'Lora'
   font-style: normal
   font-weight: 700
   font-size: 12px
   line-height: 15px
   text-align: center
   letter-spacing: 0.03em
   color: $main-color

.card-description
   font-family: 'Open Sans'
   font-style: normal
   font-weight: 400
   font-size: 10px
   line-height: 14px
   text-align: center
   letter-spacing: 0.03em
   color: $dark-grey

@media ( min-width: 541px )
   .row
      flex-direction: row
      justify-content: space-between
      align-items: center
   .section-title
      font-size: 35px
      line-height: 44px
      &::before
         left: 173px
      &-offer
         &::before
            left: 235px
      &-rooms
         &::before
            left: 188px
      &-feedback
         &::before
            left: 192px
   .section-img
      min-width: 300px
      max-width: 450px
      img
         width: 100%

@media ( min-width: 769px )
   .anchor
      top: -100px
   .button-outline
      margin: 0
      display: flex
      justify-content: center
      align-items: center
      width: 40px
      span
         display: none
      img
         display: inline-block
         width: 25px
   .section-title
      font-size: 45px
      line-height: 52px
      &::before
         left: 240px
      &-offer
         &::before
            left: 320px
      &-rooms
         &::before
            left: 258px
      &-feedback
         &::before
            left: 264px
   .description
      font-size: 16px
   .section-img
      max-width: 600px
   .card-title
      font-size: 16px
      line-height: 20px
   .card-description
      font-size: 12px
      line-height: 17px

@media ( min-width: 993px )
   .button-outline
      width: 210px
      span
         display: inline-block
      img
         display: none
   .button-book__big
      width: 285px
      height: 65px
      font-size: 22px
      line-height: 30px
   .section-title
      margin-bottom: 65px
      font-size: 50px
      line-height: 64px
      &::before
         left: 206px
         width: 130px
         height: 11px
         background: url(../assets/img/line-sharp.webp) right no-repeat
      &-offer
         &::before
            left: 295px
      &-rooms
         &::before
            left: 223px
      &-feedback
         &::before
            left: 229px
   .section-img
      max-width: 650px
   .card-title
      font-size: 20px
      line-height: 25px
   .card-description
      font-size: 14px
      line-height: 20px

@media ( min-width: 1201px )
   .section-title
      margin-bottom: 80px
   .section-img
      max-width: 810px
