.main
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start
  align-content: flex-start
  padding-top: 40px
  &-header
    width: 227px
    display: flex
    flex-flow: column wrap
    justify-content: flex-end
    align-items: flex-end
    align-content: flex-start
    &-hotel
      margin-bottom: -28px
      color: $dark-grey
      text-transform: uppercase
      font-weight: 800
      font-size: 13px
      text-align: right
      &::before
        content: ''
        margin-bottom: 2px
        display: block
        position: relative
        left: 45px
        width: 39px
        height: 5px
        background: url(../assets/img/line-soft-bold.webp) right no-repeat
        background-size: contain
    &-baikal
      color: $main-color
      font-family: 'Lora'
      font-style: normal
      font-weight: 700
      font-size: 60px
      line-height: 77px
      letter-spacing: 0.03em
  &-description
    width: 100%
    margin-bottom: 20px
    font-weight: 400
    font-size: 13px
    line-height: 141.18%
    color: #686868
  &-img
    margin-top: 30px
    img
      max-width: 100%

@media ( min-width: 541px )
  .main
    flex-direction: row
    align-items: center
    &-block
      max-width: 380px
    &-img
      min-width: 300px
      max-width: 450px
      img
        width: 100%
  
@media ( min-width: 769px )
  .main
    justify-content: center
    &-block
      max-width: 496px
      display: flex
      flex-flow: column wrap
      justify-content: center
      align-items: flex-start
      align-content: flex-start
    &-header
      width: 100%
      &-hotel
        margin-bottom: -30px
        font-size: 17px
        &::before
          margin-bottom: 0
          left: 65px
      &-baikal
        font-size: 80px
        line-height: 105px
    &-description
      font-size: 16px
    &-img
      img
        max-width: 450px

@media ( min-width: 993px )
  .main
    &-header
      &-hotel
        margin-bottom: -50px
        font-size: 24px
        &::before
          left: 120px
      &-baikal
        margin-bottom: 6px
        font-size: 131px
        line-height: 168px
    &-description
      margin-bottom: 40px
      font-size: 16px
    &-img
      img
        max-width: 450px

@media ( min-width: 1140px )
  .main
    &-img
      img
        max-width: 602px