.menu
   height: 50px
   width: 100%
   display: flex
   justify-content: space-between
   align-items: flex-end
   height: 27px
   &-logo
      margin-bottom: -6px
      img
         max-width: 108px
   &-hamburger
      display: block
      width: 20px
      height: 20px
.square
   width: 7px
   height: 7px
   background-color: $main-color
   box-shadow: 11px 0 0 0 $main-color, 0 11px 0 0 $main-color, 11px 11px 0 0 $main-color
   border: 0.5px solid $main-color
   border-radius: 1px
