.rooms
   padding-top: 60px
   &-wrap
      display: flex
      justify-content: flex-start
      align-items: center
      flex-direction: column
   &-img
      display: none
   &-card
      margin-bottom: 10px
      padding: 30px 20px 30px 20px
      max-width: 272px
      border: 3px solid $main-color
      border-radius: 20px
      &-icon
         margin-bottom: 20px
         text-align: center
         img
            height: 80px
      &-name
         margin-bottom: 20px
         font-size: 20px
         line-height: 26px
      &-list
         margin-bottom: 20px
         font-size: 16px
         line-height: 23px
         text-align: left
         list-style: disc inside
         li
            padding-bottom: 10px
      &-price
         margin-bottom: 10px
         font-size: 16px
         line-height: 20px
      &-pricetag
         font-family: 'Lora'
         font-style: normal
         font-weight: 700
         font-size: 20px
         line-height: 26px
         text-align: center
         letter-spacing: 0.03em
         color: $main-red
         span
            font-size: 25px
            line-height: 32px

@media ( min-width: 541px )
   .rooms
      &-wrap
         justify-content: center
         align-items: center
         flex-flow: row wrap
      &-card
         margin-right: 10px
         margin-left: 10px
         margin-bottom: 20px
         max-width: 225px

@media ( min-width: 769px )
   .rooms
      &-card
         margin-left: 15px
         margin-right: 15px
         padding:  40px 27px 40px 27px
         max-width: 285px
         &-icon
            margin-bottom: 30px
            img
               height: 110px
         &-name
            margin-bottom: 30px
         &-list
            margin-bottom: 30px
            li
               padding-bottom: 13px
            

@media ( min-width: 993px )
   .rooms-img
      display: block
      flex-basis: 46%
      padding-left: 70px


@media ( min-width: 1401px )
   .rooms-img
      flex-basis: 15%
      padding-left: 0
